<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<?php user = new UsuarioController ?>

<form method="post" action="../controller/UsuarioController.php" class="form-horizontal" >
    <fieldset>

        <!-- Form Name -->
        <legend>Form Name</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">name</label>
            <div class="col-md-4">
                <input id="name" name="name" type="text" placeholder="teste" class="form-control input-md">

            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="enviar"></label>
            <div class="col-md-4">
                <button id="enviar" name="enviar" value="teste()" class="btn btn-primary">enviar</button>
            </div>
        </div>

    </fieldset>
</form>

</body>
</html>